@charset "UTF-8";
/* CSS Document */

.if {
	width: 875px;
	height: 765px;
	background-color: black;
	color:white;
	
		
}

.if img{
	width: 600px;
	float:left;
}

.if p{
	padding-top: 500px;
	
}


.adobe img {
	width:500px;
	padding-left: 800px;
	margin-top: -75px;
}

#online{
	color:red;
	font-size:50px;
	margin-bottom: -10px;

}

#website{
	color:gray;
	font-size: 40px;
	margin-left:350px;
	margin-top: -60px;
	
}

#text{
	margin-right:900px;
	
}